#ignore all files in any directory named build
build/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

#ignore train_data, including binpack data and conflict data
train_data/

#ignore test data
test_data/


#ignore result
easy_result/
hard_result/

#ignore trained model file
svm.param